.AppLoading {
  text-align: center;
  padding: 13px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #000;
  color: #FFFFFF;
  z-index: 999999;
}

.img-profile {
  width: 100%;
  height: auto;
}

.btn a {
  text-decoration: none;
}

.DateInputHelper {
  input[type="text"] {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: .875rem;
    line-height: 1.5;
    color: #3e515b;
    background-color: #fff;
    border: 1px solid #c2cfd6;
    border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
}

.hide {
  display: none;
}
