.helpers-SelectSimpleLineIcon .icons {
  cursor: pointer;
}

.detail {
  dl.row {
    border-bottom: 1px solid #dddddd;
  };
}

.btn-danger {
  a {
    color: #dddddd;
    text-decoration: none;
  }
}
